<template id="octave">
    <style type="text/css">
        #container {
            display: flex;
            position: relative;
        }
        black-key {
            z-index: 1;
            position: absolute;
        }
        black-key:nth-of-type(1) { left: 9%; }
        black-key:nth-of-type(2) { left: 24.5%; }
        black-key:nth-of-type(3) { left: 51.5%; }
        black-key:nth-of-type(4) { left: 66.7%; }
        black-key:nth-of-type(5) { left: 82%; }
    </style>

    <div id="container">
        <white-key></white-key>
        <black-key></black-key>
        <white-key></white-key>
        <black-key></black-key>
        <white-key></white-key>
        <white-key></white-key>
        <black-key></black-key>
        <white-key></white-key>
        <black-key></black-key>
        <white-key></white-key>
        <black-key></black-key>
        <white-key></white-key>
    </div>

</template>
