<template id="octave">
    <style>
        #container {
            display: flex;
            justify-content: center;
        }
        .answer {
            height: 15px;
            width: 15px;
            margin: 1px;
            background-color: #d2d2d2;
        }
        .correct-answer {
            background-color: #51c451;
        }
        .semi-correct-answer {
            background-color: #e6e65d;
        }
        .incorrect-answer {
            background-color: #ec5c5c;
        }
    </style>

    <div id="container">
        <div class='answer'></div>
    </div>
</template>
